@model proyecto_poderosa_documento.Models.Noticia
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Noticias</h2>
@using (Html.BeginForm("Create", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data", id = "createForm" }))
{
    @Html.AntiForgeryToken()
    <!-- Titulo -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Titulo, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
    </div>

    <!-- Campo para subir imagen -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Imagen, new { @class = "form-label" })
        <input type="file" name="Imagen" class="form-control" />
    </div>

    <!-- Campo para establecer fecha de la noticia -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.FechaNoticia, "Fecha de la noticia", new { @class = "form-label" })
        @Html.TextBoxFor(model => model.FechaNoticia, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.FechaNoticia, "", new { @class = "text-danger" })
    </div>

    <!-- Descripción -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Descripcion, new { @class = "form-label" })
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <!-- Contenido -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Contenido, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.Contenido, new { @class = "form-control", id = "contenido" })
        @Html.ValidationMessageFor(model => model.Contenido, "", new { @class = "text-danger" })
    </div>

    <!-- Imagen resumen -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ImagenResumen, new { @class = "form-label" })
        <input type="file" name="ImagenResumen" class="form-control" />
    </div>

    <!-- Botones -->
    <div class="form-group">
        <button type="submit" class="btn btn-success" onclick="submitForm(event)">Guardar</button>
        <a href="@Url.Action("Dashboard", "Noticias")" class="btn btn-secondary">Regresar</a>
    </div>
}

<div class="modal fade" id="guardarModal" tabindex="-1" aria-labelledby="guardarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="guardarModalLabel">Aviso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La noticia ha sido guardada exitosamente.</p>
                <p>¿Deseas agregar otra noticia?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="addAnother()">Sí</button>
                <button type="button" class="btn btn-primary" onclick="redirectToDashboard()">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/9f6hpwfo3d5uh2eyoket21yt18idnbtgnltnf80egp00w3cl/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#contenido',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
}

<script src="~/Scripts/bootstrap.bundle.min.js"></script>
