@model proyecto_poderosa_documento.Models.Noticia
@{
    ViewBag.Title = "Detalles de la Noticia";
}
@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>@Model.Titulo | PODEROSA</title>
<meta name="title" content="@Model.Titulo | PODEROSA" />
<meta name="description" content="@Model.Contenido" />
<meta name="url" content="@Url.Action("Details", "Noticias", new { titulo = Model.Titulo.Replace(" ", "-").ToLower() })" />
<meta name="keywords" content="Poderosa, Minería, Noticias, @Model.Titulo" />
<!-- OpenGraph Meta Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="@Model.Titulo | PODEROSA" />
<meta property="og:description" content="@Model.Contenido" />
<meta property="og:url" content="@Url.Action("Details", "Noticias", new { titulo = Model.Titulo.Replace(" ", "-").ToLower() })" />
<meta property="og:image" content="@Url.Content(Model.Imagen)" />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <!-- Banner de la noticia -->
    <section class="pt-4">
        <div class="noticias-banner">
            <div class="bg-gris-oscuro-4">
                <h1 class="fuente-3 noticias-banner-texto">
                    @Model.Titulo
                </h1>
            </div>
            <div class="noticia-banner-img">
                <!-- Mostrar la imagen si existe -->
                @if (!string.IsNullOrEmpty(Model.Imagen))
                {
                    <img src="@Url.Content(Model.Imagen)" alt="@Model.Titulo" class="img-fluid">
                }
            </div>
        </div>
        <div class="noticia-container">
            <div class="noticia-container-texto">
                <div>
                    <h6 class="mayuscula mt-4 fuente-3">@Model.FechaPublicacion.ToString("dd 'de' MMMM 'de' yyyy")</h6>
                </div>
                <h5 class="dorado">@Model.Descripcion</h5>
                <!-- Mostrar contenido con formato HTML -->
                <div>@Html.Raw(Model.Contenido)</div>  <!-- Usar Html.Raw para mostrar el contenido con formato -->
            </div>
        </div>
    </section>
    <br />
    <div class="d-flex justify-content-center mt-1">
        <div class="d-flex align-items-center gap-2">
            <p class="mb-2 text-center">Comparte en:</p>
            @Html.Partial("~/Views/Shared/_redes.cshtml")
        </div>
    </div>
    <section class=" py-5">
        <div class="container">
            <div class="contenedor-noticias py-5">
                <div class="contenedor-noticias-titulo pb-3">
                    <h1 class="fuente-3">
                        Lo último
                    </h1>
                    <a href="@Url.Action("Index", "Noticias")" class="fuente-5 button-ver-mas d-flex align-items-center">
                        Ver más noticias <img src="~/Content/img/home/icono.svg" alt="" class="icono img-fluid">
                    </a>
                </div>
                <div class="row">
                    @if (ViewBag.UltimasNoticias != null)
                    {
                        foreach (var noticia in ViewBag.UltimasNoticias)
                        {
                            <div class="col-12 col-md-6 col-lg-4 mb-5">
                                <a href="@Url.Action("Details", "Noticias", new { titulo = noticia.Titulo.Replace(" ", "-").ToLower() })" class="text-decoration-none">
                                    <!-- Imagen de resumen -->
                                    @if (!string.IsNullOrEmpty(noticia.ImagenResumen))
                                    {
                                        <img src="@Url.Content(noticia.ImagenResumen)" alt="@noticia.Titulo" class="img-fluid contenedor-noticias-img zoom-img">
                                    }
                                    <h5 class="fuente-3 mt-2">
                                        @noticia.Titulo
                                    </h5>
                                </a>
                                <p class="fuente-4">
                                    @{
                                        var descripcion = noticia.Descripcion;
                                        var displayDescripcion = descripcion.Length > 150 ? descripcion.Substring(0, 150) + "..." : descripcion;
                                    }
                                    @displayDescripcion
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
