@model proyecto_poderosa_documento.Models.Noticia

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="my-3" id="titulo">Editar Noticia</h3>

@using (Html.BeginForm("Edit", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data", id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <!-- Campo oculto para el Id -->
    @Html.HiddenFor(model => model.Id)

    <!-- Campo para el slug -->
    <div class="form-group">
        @Html.LabelFor(model => model.Slug)
        @Html.TextBoxFor(model => model.Slug, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
    </div>

    <!-- Campo para subir imagen de compartir -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ImagenesCompartir, new { @class = "form-label" })
        <input type="file" name="ImagenesCompartir" class="form-control" />
    </div>

    <!-- Titulo -->
    <div class="form-group">
        @Html.LabelFor(model => model.Titulo)
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
    </div>

    <!--Tipo-->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Tipo, "Tipo", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Tipo, new SelectList(new[] {
            new { Value = 1, Text = "Noticia" },
            new { Value = 2, Text = "Nota" }
        }, "Value", "Text", Model.Tipo), "Seleccione un tipo", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
    </div>

    <!-- Campo para subir imagen -->
    <div class="form-group">
        @Html.LabelFor(model => model.Imagen)
        <input type="file" name="Imagen" class="form-control" />
    </div>

    <!-- Campo para establecer fecha de la noticia -->
    <div class="form-group">
        @Html.LabelFor(model => model.FechaNoticia, "Fecha de la noticia")
        @Html.TextBoxFor(model => model.FechaNoticia, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.FechaNoticia, "", new { @class = "text-danger" })
    </div>

    <!-- Descripción -->
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <!-- Contenido -->
    <div class="form-group">
        @Html.LabelFor(model => model.Contenido)
        @Html.TextAreaFor(model => model.Contenido, new { @class = "form-control", id = "contenido" })
        @Html.ValidationMessageFor(model => model.Contenido, "", new { @class = "text-danger" })
    </div>

    <!-- Imagen resumen -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ImagenResumen)
        <input type="file" name="ImagenResumen" class="form-control" />
    </div>

    <!-- Campo para subir imágenes del carrusel -->
    <div class="form-group mb-3">
        @Html.Label("Imágenes del Carrusel", new { @class = "form-label" })
        <input type="file" name="ImagenesCarrusel" class="form-control" multiple />
    </div>

    <!-- Botones -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="@Url.Action("Dashboard", "Noticias")" class="btn btn-secondary">Regresar</a>
    </div>
}

@section Scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#contenido',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak code',
            toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code',
            toolbar_mode: 'floating',
        });

        // Reemplazar guiones por espacios en el campo de título sin alterar la capitalización
        document.addEventListener("DOMContentLoaded", function () {
            var tituloInput = document.querySelector("input[name='Titulo']");
            if (tituloInput) {
                tituloInput.value = tituloInput.value.replace(/-/g, " "); // Solo reemplaza guiones por espacios
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form"); // Selecciona el formulario
            const fileInputs = document.querySelectorAll("input[type='file']"); // Selecciona todos los inputs de tipo file

            form.addEventListener("submit", function (event) {
                for (const fileInput of fileInputs) {
                    if (fileInput.files.length > 0) {
                        const fileName = fileInput.files[0].name;
                        // Validar si el nombre contiene espacios o caracteres especiales
                        const invalidChars = /[^a-zA-Z0-9._-]/;
                        if (fileName.includes(" ") || invalidChars.test(fileName)) {
                            alert("El nombre de las imagenes no pueden contener espacios ni caracteres especiales.");
                            event.preventDefault(); // Detiene el envío del formulario
                            return;
                        }
                    }
                }
            });
        });
    </script>
}