@model proyecto_poderosa_documento.Models.Noticia

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="my-3" id="titulo">Editar Noticia</h3>

@using (Html.BeginForm("Edit", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data", id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <!-- Campo oculto para el Id -->
    @Html.HiddenFor(model => model.Id)

    <!-- Titulo -->
    <div class="form-group">
        @Html.LabelFor(model => model.Titulo)
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
    </div>

    <!-- Campo para subir imagen -->
    <div class="form-group">
        @Html.LabelFor(model => model.Imagen)
        <input type="file" name="Imagen" class="form-control" />
    </div>

    <!-- Campo para establecer fecha de la noticia -->
    <div class="form-group">
        @Html.LabelFor(model => model.FechaNoticia, "Fecha de la noticia")
        @Html.TextBoxFor(model => model.FechaNoticia, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.FechaNoticia, "", new { @class = "text-danger" })
    </div>

    <!-- Descripción -->
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <!-- Contenido -->
    <div class="form-group">
        @Html.LabelFor(model => model.Contenido)
        @Html.TextAreaFor(model => model.Contenido, new { @class = "form-control", id = "contenido" })
        @Html.ValidationMessageFor(model => model.Contenido, "", new { @class = "text-danger" })
    </div>

    <!-- Imagen resumen -->
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ImagenResumen)
        <input type="file" name="ImagenResumen" class="form-control" />
    </div>

    <!-- Botones -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="@Url.Action("Dashboard", "Noticias")" class="btn btn-secondary">Regresar</a>
    </div>
}

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/9f6hpwfo3d5uh2eyoket21yt18idnbtgnltnf80egp00w3cl/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#contenido',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
}