<header class="js-header    js-header-fixed-top">
    <ul class="nav justify-content-end    nav-sec    js-nav-sec">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index", "publicaciones", new { accion = "" })">Publicaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="#">Intranet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="#">Extranet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://minerapoderosa.hiringroom.com/jobs">Trabaja con nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="@Url.Action("proveedores", "home", new { accion = "" })">Proveedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="#">Webmail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://extranet.poderosa.com.pe/sesion/auth/login">Portal SST</a>
        </li>
    </ul>
    <nav class="navbar_ navbar-expand-lg_  py-0_  navbar navbar-expand-lg  py-0    nav-pri    js-nav-pri py-2  py-md-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="img-fluid" width="220" src="~/Content/img/logo.svg" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse js-navbar-collapse" id="navbarSupportedContent">
                <ul id="lista" class="navbar-nav flex-row_ flex-wrap ms-md-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("index", "home", new { accion = "" })">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle menu-drow" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            QUIÉNES SOMOS<span class="puntero"></span>
                        </a>
                        <div class="MultiLevelMenu depth-2 bg-lg-marron blanco">
                            <div class="container p-lg-4">
                                <div class="row ">
                                    <div class="col-4 col-lg-3 col-xl-4 d-none d-lg-block">
                                        <img src="~/Content/img/header/quienes-somos.jpg" class="img-fluid imagen-menu d-none d-md-block">
                                    </div>
                                    <div class="col col-lg-9 col-xl-8 d-flex align-items-start justify-content-center justify-content-lg-start" style="position: relative;">
                                        <ul class="dropdown-menu  lista_menu">
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("poderosa", "quienes-somos", new { accion = "" })">
                                                    <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline">PODEROSA
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("directorio-y-gerencia", "quienes-somos", new { accion = "" })">
                                                    <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline">DIRECTORIO Y GERENCIA
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("accionistas", "quienes-somos", new { accion = "" })">
                                                    <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline">ACCIONISTAS
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("nuestra-historia", "quienes-somos", new { accion = "" })">
                                                    <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline">NUESTRA HISTORIA
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("premios-y-reconocimientos", "quienes-somos", new { accion = "" })">
                                                    <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline">PREMIOS Y RECONOCIMIENTOS
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("introduccion", "operaciones", new { accion = "" })">OPERACIONES</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu-drow" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            SOSTENIBILIDAD<span class="puntero"></span>
                        </a>
                        <div class="MultiLevelMenu depth-2 bg-lg-marron blanco">
                            <div class="container p-lg-4">
                                <div class="row ">
                                    <div class="col-4 col-lg-3 col-xl-4 d-none d-lg-block">
                                        <img src="~/Content/img/imagen-header.png" class="img-fluid imagen-menu d-none d-md-block">
                                    </div>
                                    <div class="col col-lg-9 col-xl-8 d-flex align-items-start justify-content-center justify-content-lg-start" style="position: relative;">
                                        <ul class="dropdown-menu  lista_menu">
                                            <li class="dropend nav-item">
                                                <a href="#" class="dropdown-toggle-custom dropdown-item dropdown-toggle  d-flex align-items-center justify-content-center justify-content-lg-between" data-bs-toggle="dropdown">
                                                    <span> <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> GESTIÓN AMBIENTAL</span>
                                                    <span class="dropdown-linea"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_ambiental", "sostenibilidad", new { accion = "introduccion" })">Introducción</a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_ambiental", "sostenibilidad", new { accion = "nuestro-aporte" })"> Nuestro Aporte</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropend nav-item dropdown">
                                                <a href="#" class="dropdown-toggle-custom  dropdown-item dropdown-toggle  d-flex align-items-center justify-content-center justify-content-lg-between" data-bs-toggle="dropdown">
                                                    <span> <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> GESTIÓN DE LA ENERGÍA</span>
                                                    <span class="dropdown-linea"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_de_la_energia", "sostenibilidad", new { accion = "introduccion" })"> Introducción</a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_de_la_energia", "sostenibilidad", new { accion = "nuestros-avances-con-energias-limpias" })"> Nuestros avances con energías limpias</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropend nav-item dropdown">
                                                <a href="#" class="dropdown-toggle-custom  dropdown-item dropdown-toggle  d-flex align-items-center justify-content-center justify-content-lg-between" data-bs-toggle="dropdown">
                                                    <span> <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> GESTIÓN DEL CUMPLIMIENTO</span>
                                                    <span class="dropdown-linea"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_de_cumplimiento", "sostenibilidad", new { accion = "introduccion" })"> Introducción </a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_de_cumplimiento", "sostenibilidad", new { accion = "canal-de-etica" })"> Canal de Ética</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropend nav-item dropdown">
                                                <a href="#" class="dropdown-toggle-custom dropdown-item dropdown-toggle  d-flex align-items-center justify-content-center justify-content-lg-between" data-bs-toggle="dropdown">
                                                    <span> <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> GESTIÓN DEL TALENTO</span>
                                                    <span class="dropdown-linea"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_de_talento", "sostenibilidad", new { accion = "introduccion" })"> Introducción </a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_de_talento", "sostenibilidad", new { accion = "capacitacion" })">  Capacitación </a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("gestion_de_talento", "sostenibilidad", new { accion = "reclutamiento-y-seleccion" })"> Reclutamiento y Selección</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropend nav-item dropdown">
                                                <a href="#" class="dropdown-toggle-custom dropdown-item dropdown-toggle  d-flex align-items-center justify-content-center justify-content-lg-between" data-bs-toggle="dropdown">
                                                    <span> <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> COMUNIDAD</span>
                                                    <span class="dropdown-linea"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="@Url.Action("comunidad","sostenibilidad", new { accion = "asociacion-pataz" })"> Asociación Pataz</a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("comunidad", "sostenibilidad", new { accion = "desarrollo-social" })"> Desarrollo Social</a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("comunidad", "sostenibilidad", new { accion = "poblaciones-vecinas" })"> Poblaciones Vecinas</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu-drow" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            CALIDAD E INNOVACIÓN<span class="puntero"></span>
                        </a>
                        <div class="MultiLevelMenu depth-2 bg-lg-marron blanco">
                            <div class="container p-lg-4">
                                <div class="row ">
                                    <div class="col-4 col-lg-3 col-xl-4 d-none d-lg-block">
                                        <img src="~/Content/img/imagen-header.png" class="img-fluid imagen-menu d-none d-md-block">
                                    </div>
                                    <div class="col col-lg-9 col-xl-8 d-flex align-items-start justify-content-center justify-content-lg-start" style="position: relative;">
                                        <ul class="dropdown-menu  lista_menu">
                                            <li><a class="dropdown-item" href="@Url.Action("mejora_continua", "calidad_e_innovacion", new { accion = "introduccion" })"><img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> MEJORA CONTINUA</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("gestion_de_calidad", "calidad_e_innovacion", new { accion = "introduccion" })"><img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> GESTIÓN DE CALIDAD</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("colpa_5s", "calidad_e_innovacion", new { accion = "introduccion"})"><img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> COLPA - 5S</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("calidad_total", "calidad_e_innovacion", new { accion = "introduccion"})"><img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> CALIDAD TOTAL</a></li>
                                            <li class="dropend nav-item dropdown">
                                                <a href="#" class="dropdown-toggle-custom dropdown-item dropdown-toggle  d-flex align-items-center justify-content-center justify-content-lg-between" data-bs-toggle="dropdown">
                                                    <span> <img src="~/Content/img/icono-flecha-derecha.png" class="flecha-menu d-none d-lg-inline"> INNOVACIÓN</span>
                                                    <span class="dropdown-linea"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="@Url.Action("innovacion", "calidad_e_innovacion", new { accion = "introduccion" })"> Introducción </a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("innovacion", "calidad_e_innovacion", new { accion = "nuestras-principales-iniciativas-en-innovacion" })"> Nuestras principales iniciativas en innovación </a></li>
                                                    <li><a class="dropdown-item"> Plataforma Ideas De Oro </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("index", "noticias", new { accion = "" })">NOTICIAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("contacto", "home", new { accion = "" })">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>